<h1>All Artists <%= link_to 'New', new_artist_path, class: "btn btn-primary pull-right" %>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
      <th>Dob</th>
      <th>Paintings</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.nationality %></td>
        <td><%= artist.dob %></td>
        <td><%= artist.paintings.count rescue 0 %></td>
        <td><%= link_to 'Show', artist %></td>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>